*{
    padding: 0;
    margin: 0;
}

body {
    font-size: 62.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    overflow-x: hidden;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}