* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body {
    height: 100%;
    width: 100%;
    background-color: rgb(230, 215, 243);
}
#titulo {
    font-size: 2rem;
}
tr td {
    font-size: 1.6rem;
}