* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    width: 201.5vh;
    height: 300vh;
    font-family: 'Poppins', sans-serif;
    background-color: #EFF2F5;

}
header {
    width: 98.9vw;
    height: 20vh;
    background-color: #EFF2F5;
    display: flex;
    position: fixed;
    z-index: 500;
}
.principal {
    top: 20%;
}
.texto-principal {
    position: absolute;
    margin-top: -467px;
    color: #FFF;
}
.headerleft {
    width: 35vw;
    height: 20vh;
    display: flex;
}
.headerleft img {
    width: 16%;
    height: 63%;
    margin-left: 90px;
    margin-top: 30px;
}
header h2 {
    margin-top: 60px;
    margin-left: 20px;
    font-weight: 400;

}
.headerright {
    width: 70vw;
    height: 20vh;
    display: flex;
}
.headerright img {
    height: 11%;
    margin-top: 80px;    
}
.headerright p {
    margin-top: 76px;
}
.home {
    margin-left: 354px;
    font-weight: 200;
}

.book {
    margin-left: 20px;
    font-weight: 200;
}
.ic-fb {
    margin-left: 20px;
}
.ic-is {
    margin-left: 14px;
}
.ic-yp {
    margin-left: 14px;
}
.ic-us {
    margin-left: 14px;
}
.login {
    margin-left: 16px;
    font-weight: 200;
}
button {
    width: 15%;
    height: 35%;
    border: 1px solid #8B6357;
    border-radius: 79px;
    background-color: #8B6357;
    color: #FFF;
    font-size: 1.1rem;
    font-weight: 200;
    margin-top: 64px;
    margin-left: 15px;
}
button:hover {
    background-color: rgb(153, 118, 118);
}
.img-principal {
    width: 88vw;
    height: 100vh;
    margin: auto;
    margin-left: 90px;
}
h1, .principal h2, .botao-book2  {
    margin-left: 150px;;
}
h1 {
    font-size: 4rem;
    margin-bottom: 20px;
}
.principal h2 {
    font-weight: 300;
}
.botao-book2 {
    width: 120px;
    height: 55px;
    border: 1px solid #36B2B0;
    border-radius: 79px;
    background-color: #36B2B0;
    color: #FFF;
    font-size: 1.1rem;
    font-weight: 200;
}
.botao-book2:hover {
    background-color: #208a88;
}
.services {
    font-size: 2.8rem;
    text-align: center;
}
.fotos-services1 { 
    width: 87vw;
    height: 60vh;
    display: flex;
    margin-left: 80px;
    margin-top: 30px;

}
.fotos-services1 img {
    width: 35vw;
    height: 45vh;
    margin-bottom: 10px;;
}
.serv01 {
    margin-right: 60px;
    margin-left: 130px;
}
.fotos-services2 {
    width: 87vw;
    height: 60vh;
    display: flex;
    margin-left: 80px;
    margin-top: 30px;
    margin-bottom: 200px;
}
.fotos-services2 img {
    width: 35vw;
    height: 45vh;
    margin-top: 100px;
}
.strong {
    font-weight: bold;
    font-size:1.5rem;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 40px;
}
.light {
    font-size: 1.2rem;
    font-weight: 300;
    text-align: center;
}
.botao-book3 {
    width: 120px;
    height: 55px;
    border: 1px solid #36B2B0;
    border-radius: 79px;
    background-color: #36B2B0;
    color: #FFF;
    font-size: 1.1rem;
    font-weight: 200;
    margin-left: 48%;
    margin-top: 80px;
    margin-bottom: 100px;
}
.botao-book3:hover {
    background-color: #62c5c3;
}
#fotosec {
    height: 120vh;
    background-color: #FFF;
}
#fotosec img {
    width: 42vw;
    height: 101vh;
    margin-left: 15%;
    margin-top: 130px;
}
#marrom {
    background-color: #8B6357;
    width: 32vw;
    height: 65vh;
    position: absolute;
    color: #FFF;
    top: 335%;
    margin-left: 52%;
    text-align:justify;
    text-align: center;
}
#marrom p {
    width: 70%;
    margin-left: 60px;
    margin-right: 30px;
    text-align: justify;
    font-weight: 200;
}
#Hi {
    font-size: 2.5rem;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 0;
    margin-right: 30px;
}
#clientes {
    background-color: #363C45;
    width: 98.9vw;
    height: 80vh;
    color: #FFF;
    text-align: center;
    margin-top: 70px;
}
#texto-clientes h2 {
    font-size: 3rem;
    font-weight: bold;
}
#texto-clientes p {
    font-size: 1.4rem;
    font-weight: 300;
}
#imagens-clientes img  {
    width: 247px;
    margin-top: 100px;
}
#review {
    width: 98.9vw;
    height: 60vh;
    background-color: #EFF2F5;
    margin-top: 100px;
    display: flex;
    align-items: center;
}

#review img {
    width: 100px;
    margin-bottom: 50px;    
    margin-left: -16px;
}
#review1 {
    width: 40vw;
    margin-left: 150px;
    text-align: center;
}
#review2 {
    width: 40vw;
    margin-left: 80px;
    text-align: center;
}
#review3 {
    width: 40vw;
    margin-left: 80px;
    text-align: center;
}
.testimonial, .name {
    width: 60%;
    margin-left: 53px;

}
.testimonial {
    font-weight: 300;
}
.name {
    font-size: 1.4rem;
    font-weight: 300;
    margin-top: 20px;;
}
#tesouras {
    top: 20px;
}
#tesouras img{
    width: 98.9vw;
    height: 120vh;
}
#hours {
    background-color: rgba(60, 64, 73, 0.8);
    width: 98.9vw;
    height: 120vh;
    color: #FFF;
    position: absolute;
    top: 4356px;
    text-align: center;
}
#texto-hours {
    margin-top: 400px;
}
.h2-hours {
    font-size: 2.3rem;
    margin-bottom: 40px;
}
.p-hours {
    font-size: 1.6rem;
    font-weight: 200;
}